@model IEnumerable<ExaminationPortal.Models.QuestionPaper>
@{
    ViewBag.Title = "Question Paper";
}
<br />
<div class="mt-3">
    <a href="/QuestionPaper/Create/" class="btn btn-primary button">Add new Question Paper</a>
</div>
<br />
<div class="table-auto">
    <table class="table table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QPaperName)
                </th>
                <th>Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QPaperName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.QPaperID }) |
                    @Html.ActionLink("Map Question Bank", "QPaperQBankMapping", new { id = item.QPaperID, name = item.QPaperName })
                </td>
            </tr>
        }
    </table>
</div>